* {
    margin: 0;
    padding: 0;
}
.ul {
   list-style: none;
}
.a {
   text-decoration: none;
}
.main-nav a:hover {
    color: #2196F3;
}
.nav-mail a,
.nav-style a{
    color: #2196F3
}
.nav-phone a,
.advantages p,
.masters p{
    color: #757575;
}
.hero {
    background-color: #2F303A;
    color: white;
}
.ful-document{
    color: #212121;
}
.contacts{
    color: #FFFFFF;

}
.contacts{
    background: #2F303A;
}